<form class="ui reply form" action="/<%=post._id%>/addcomment" method="POST">
    <div class="field">
      <textarea name="text"></textarea>
    </div>

        <button class="ui primary submit labeled icon button">
      <i class="icon edit"></i> Add Comment
    </button>

</form>