
    <div style="display: flex;flex-direction: column;justify-content:center;align-items:center">
    <a href="/<%=currentUser._id %>/editprofile">
        <i class="user icon" style="font-size: 2em; margin: .5em;"></i>
        Profile
    </a>
    <a href="/logout">
        <i class="ui sign-out icon" style="font-size: 2em;margin: .5em;"></i>
        Logout
    </a>
    </div>
