

<%- include('partials/header') %>



	<div class="limiter">
		<div class="container-register100">
				<form class="register100-form" action="/signup" method="POST">
					<span class="login100-form-title p-b-34">
						Sign Up
					</span>
					<div class="wrap-input100 validate-input m-b-20" data-validate="Type user name">
						<input id="first-name" class="input100" type="text" name="username" placeholder="User name">
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 validate-input m-b-20" data-validate="Type password">
						<input class="input100" type="password" name="password" placeholder="Password">
						<span class="focus-input100"></span>
					</div>
					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Submit
						</button>
					</div>

					<div class="w-full text-center p-t-27 p-b-239">
						<a href="/" class="txt2">
							Already registered? Click here!
						</a>
					</div>

				</form>
		</div>

	</div>




  <%- include('partials/footer') %>
